*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
    background: #000 url('./../img/6.jpg');
    background-size: contain;
    background-attachment: fixed;
}


.topTitle{
	margin-top: 15vh;
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	font-style: italic;
}

.firstSection{
	width: 100%;
	height: 100vh;
}

.contenedor{
    widows: 90%;
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.roundImage{
	border-radius: 50%;
	margin-left: 20px;
}

header{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .menu a{
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

header .menu a:hover{
    text-decoration: underline;
}

.main{
	background-color: #F5F5F5;
    padding: 20px;
    width: 100%;
	margin-top: 100px;
}

.main article .thumb{
    margin-bottom: 20px;

}

.main article .thumb img{
	width: 100%;
	height: 500px;
}

.main article h2{
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 32px;
	margin-left: 10px;
}

.main article p{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 27px;
}

footer{
    width: 100%;
    margin: 20px 0;
    background: rgba(255,255,255,.2);
    padding: 20px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

footer .social a{
    color:white;
    text-decoration: underline;
    margin-left: 20px;
}

footer .social a:hover{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

@media screen and (max-width:800px){
    .main{
        width: 100%;
    }
}

@media screen and (max-width:700px){
    header{
        flex-direction: column;
        padding-bottom: 20px;
    }

    header .menu{
        width: 100%;
        background: rgba(255,255,255,.2);
        text-align: center;
        padding: 20px;
    }

    header .menu a{
        margin: 0 20px;
    }

    header .logo{
        margin-bottom: 20px;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    footer .autor{
        order: 2;
    }

    footer .social{
        order: 1;
        margin-bottom: 20px;
    }

	.topTitle{
		margin-top: 5vh;
		font-size: 20px !important;
		font-weight: 300;
	}

	.main{
		margin-top: 50px;
	}


	.main article .thumb img{
		height: 300px;
	}
}



.reviews{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

}

.box{
	flex-grow: 1;
	flex-basis: 30%;
	height: auto;
	margin: 10px;
	max-width: 100%;
	min-width: 30%;
	background: white;
}

.box:hover{
	cursor: pointer;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerCard {
  padding: 2px 16px;
}

.containerCard h4{
	margin-top: 10px;
	margin-bottom: 10px;
}

.containerCard p{
	font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.generic-anchor {
  color: #8DB9ED;
}
.generic-anchor:visited {
  color: #8DB9ED;
}
.generic-anchor:hover {
  color: #ccc;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}


footer {
	font: 11px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	  background: #373737;
	  margin-top: auto;
	  width: 100%;
	  padding-bottom: 0;
}

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #373737;
  padding: 0 20px;
}

.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3em "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
}


.footer-social-overlap > a {
  font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  padding-bottom: 0;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 10px;
}

.footer-address {
  display: inline;
  font-style: normal;
}

@media screen and (max-width:800px){
	.footer-social-overlap{
		padding: 0 30px;
		margin-top: 10px;
	}

	.footer-bottom-wrapper {
	}
}
